rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Permite que qualquer usuário logado no App Zorion envie ou visualize fotos e documentos
      // Essencial para que o Master veja o que os Técnicos postam e vice-versa
      allow read, write: if request.auth != null;
    }
  }
}