rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /whatsapp_media/{allPaths=**} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }
    match /{allPaths=**} {
      // Permite que qualquer usuário logado no App Zorion envie, visualize ou exclua fotos e documentos
      // Essencial para que o Master veja o que os Técnicos postam e vice-versa
      allow read, create, update, delete: if request.auth != null;
    }
  }
}